page-details{
    .grid{
        padding: 0px !important;
    }

    [col-3]{
        padding: 0px;
    }
    ion-card img{
        margin-top: 5px;
        margin-bottom: 5px
    }

}
.backImage{
    width: 100%;
    overflow: hidden;
}
.slides{
    width: 100% !important;
    height: 150px;
}
img{
    width: 100% !important;
}
.swiper-pagination-bullet-active {
    background: black;
    opacity: 1;
}
.imageDetails{
    width: 60px !important;
    height: 60px !important;
    margin-left: 40px;
}